<main>
    <div class="cenzor">
        <div class="img"></div>
        <p class="description">Angular list of prohibited words</p>
        <a class="detCenzor" href="" [routerLink]="[ '/cenzor' ]">details</a>
    </div>
    <div class="userlist">
        <div class="img1"></div>
        <p class="description">Angular User list</p>
        <a class="detCenzor" href="" [routerLink]="[ '/userlist' ]">details</a>
    </div>
    <div class="countlist">
        <div class="img2"></div>
        <p class="description">Angular Task list</p>
        <a class="detCenzor" href="" [routerLink]="[ '/countlist' ]">details</a>
    </div>
</main>